.wrapper {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(21, 23, 26);
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding: 10px 20px;
  width: 20%;
  border: 2px solid #303235;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar__header {
  display: flex;
  align-items: center;
  padding: 7px;
}

.header__logo {
  width: 30px;
  margin-right: 5px;
}

.header__text {
  font-size: 1.5rem;
}

.navbar__section {
  color: rgb(95, 96, 101);
  flex: 1 0 auto;
  padding: 20px 0;
}

.section__text {
  margin-bottom: 10px;
  padding-left: 10px;
}

.section__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section {
  width: 100%;
  padding: 10px 0;
  position: relative;
  border-radius: 10px;
  transition: 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section:hover {
  background-color: #202021;
  color: white;
}

.section.active {
  color: #fb7f12;
  background-color: #303235;
}

.section.active::before {
  content: '';
  position: absolute;
  left: -21px;
  height: 15px;
  width: 2px;
  background-color: #fb7f12;
  border-radius: 5px;
}

.section__name {
  padding: 0 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.section__pointer {
  font-size: 1.5rem;
  margin-right: 15px;
}

.name_logo {
  width: 20px;
  margin-right: 10px;
}

.navbar__profile {
  position: relative;
}

.avatar {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user__name {
  padding-bottom: 5px;
}

.user__email {
  color: rgb(95, 96, 101);
}

.profile__menu {
  background-color: rgb(47, 50, 53);
  position: absolute;
  right: -115px;
  bottom: 0;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  color: rgb(160, 165, 183);
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.menu__item:hover {
  color: white;
  background-color: #878484;
}

.icon {
  width: 15px;
}

.hourElemIcon,
.weather__icon {
  transition: 0.4s ease;
}

.hourElemIcon:hover,
.weather__icon:hover {
  transform: translate(5px, -5px);
}

.currency__table {
  vertical-align: top;
}

.currencyIcon {
  width: 20px;
}
