.content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__weather {
  background-color: rgb(47, 50, 53);
  border-radius: 5px;
  display: none;
}

.weather__wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather__searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locationIcon {
  width: 20px;
}

.locationInput {
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: transparent;
}

.searchIcon {
  cursor: pointer;
  width: 20px;
}

.weather__location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.temperature__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
}

.current__temperature {
  display: flex;
  align-items: center;
  gap: 40px;
}

.celsius {
  font-size: 2.5rem;
}

.weather__icon {
  width: 30px;
}

.weather__props {
  display: flex;
  gap: 20px;
}

.prop__speed {
  display: flex;
  align-items: center;
  gap: 10px;
}

.windIcon {
  width: 20px;
}

.prop__humidity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.humidityIcon {
  width: 20px;
}

.border {
  border-top: 1px dashed rgb(19, 167, 255);
}

.weather__hourWrapper {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.hour__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 100px;
}

.hourElemIcon {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.hour__separator {
  border: 1px dashed rgb(19, 167, 255);
}

.content__currency {
}
